body{
    padding-top: 25px;
    background-color: rgb(166, 152, 179);
}
h1{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serifs;
    text-align: center;
}
.myContainer{
    display: flex;
    justify-content: center;
}

.buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 10px;
}
